.bo-SortButton {
  border: none;
  font-weight: normal;
  background-color: transparent;
  min-width: 100%;
  text-align: inherit;
  padding:1px 0;
  white-space: nowrap;
  text-transform: none !important;
}
.bo-SortButton-icon {
  visibility:hidden;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
}

.bo-SortButton--active .bo-SortButton-icon,
.bo-SortButton:hover .bo-SortButton-icon {
  visibility: visible;
}

.bo-SortButton-label {
  margin-right:.3em;
}
