<div class="btn-group pull-right" dropdown>
  <button type="button"
    id="aria-tablesettings"
    class="btn btn-default bo-Settings dropdown-toggle"
    title="{{'Table settings' | translate}}"
    ng-disabled="tasks.length === 0"
    aria-labelledby="aria-tablesettings">
    <i class="icon icon-gear"></i>
    <span class="sr-only">{{'Table settings' | translate}}</span>
  </button>

  <div class="TableSettings dropdown-menu pull-right" role="menu" aria-labelledby="aria-tablesettings">
    <h5 class="TableSettings-title" >{{'Items per page '| translate}}</h5>
    <div class="btn-group TableSettings-pagesizes">
      <button class="btn btn-default"
        type="button"
        style="width:{{100/sizes.length}}%"
        ng-repeat="size in sizes"
        ng-model="$parent.pageSize" btn-radio="{{size}}"
        ng-change="updatePageSize({size:size})" tabindex="0">
        {{size}}
      </button>
    </div>

    <h5 class="TableSettings-title" >{{'Columns Selection' | translate}}</h5>
    <ul class="TableSettings-Columns">
      <li  ng-repeat="field in columns">
      <label
        class="ColumnsItem"
        title="{{(field.selected ? 'Hide' : 'Show') +' '+ field[label] }}"
        ng-click="$event.stopPropagation()">
        <input type="checkbox" ng-model="field[visible]" ng-change="updateVisibility({field:field})">
        {{field[label]}}
      </label>
      </li>
    </ul>
  </div>
</div>
