node_modules/
bower_components/

# editor
.idea/
*.sublime-workspace
*.sublime-project

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

#demo folder with generated content
demo

#i18n folder
po
