node_modules/

# editor
.idea/
*.sublime-workspace
*.sublime-project
**/*.swp
*.iml

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

#demo folder with generated content
demo

#i18n folder
po

yarn.lock
